{% extends 'base.html' %}

{% block content %}
<h1>{{ user.username }}</h1>
<h1>{{ user.first_name }}</h1>
<h1>{{ user.last_name }}</h1>
<h1>{{ user.email }}</h1>

<ul>
    {% for feedback in feedback %}
    <li>{{ feedback.text }}</li>
    {% if session['user_id'] == feedback.user_id %}
    <form action="/users/{{ user.username }}/feedback/edit" method="GET">
        <button type="submit">Edit Feedback</button>
    </form>
    <form action="/users/{{ user.username }}/feedback/delete" method="POST">
        <button type="submit">X</button>
    </form>
    {% endif %}
    {% endfor %}
</ul>

<h2>Want to leave feedback? <a href="/users/{{ user.username }}/feedback/add">Click here!</a></h2>

{% endblock %}